#navBrand {
    margin-left: 10rem !important;
    margin-right: 10rem !important;
    font-size: xx-large;
}

.item {
    font-size: large !important;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}


@media screen and (min-width: 991px) {
    #navBrand {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width: 992px) {
    #navBrand {
        margin-left: 6rem !important;
        margin-right: 6rem !important;
    }
}


@media screen and (min-width: 1064) {
    #navBrand {
        margin-left: 6.5rem !important;
        margin-right: 6.5rem !important;
    }
}

@media screen and (min-width: 1114px) {
    #navBrand {
        margin-left: 7rem !important;
        margin-right: 7rem !important;
    }
}

@media screen and (min-width: 1164px) {
    #navBrand {
        margin-left: 7.5rem !important;
        margin-right: 7.5rem !important;
    }
}

@media screen and (min-width: 1214px) {
    #navBrand {
        margin-left: 8rem !important;
        margin-right: 8rem !important;
    }
}

@media screen and (min-width: 1264px) {
    #navBrand {
        margin-left: 8.5rem !important;
        margin-right: 8.5rem !important;
    }
}

@media screen and (min-width: 1314px) {
    #navBrand {
        margin-left: 11rem !important;
        margin-right: 11rem !important;
    }
}

/* 
@media screen and (min-width: 1364px) {
    #navBrand {
        margin-left: 9.5rem !important;
        margin-right: 9.5rem !important;
    }
}

@media screen and (min-width: 1400px) {
    #navBrand {
        margin-left: 10rem !important;
        margin-right: 10rem !important;
    }
} */